{% extends 'base.html' %} {% block title %} Link| {% endblock title %} {% block body %}
<div class="my-9 my-5" data-ride="carousel ">
    <center>
        <h2>Easy and fun cooking means “Cook With Prajkta”.</h2>
        </br>
        <p4><b>Cook With Prajkta is a YOUTUBE channel in Marathi language dedicated to food culture. I hope you enjoy some of these recipes as much as I do! Do take your time to come back and share your comments, as your feedback means a lot to me.........!!</p4></b>

    </center>
</div>
</br>
</br>
{% endblock body %}