{% extends 'base.html' %} {% block title %} Dhokala| {% endblock title %} {% block body %}
<div class="my-4 my-5" data-ride="carousel ">
    <center>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iuvTin4asbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h1> <b><i>For more mouthwatering recipes</i></b></h1>
        <h1><b><i>Like Share and Subcribe to my Youtube channel.....!</i></b></h1>
    </center>
</div>

{% endblock body %}