{% extends 'base.html' %} {% block body %}
<div class="contener" my-4>

    <div class="container my-4">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/moongdaal.jfif" class="d-block w-100 h-100" alt="...">
                    <div class="card-body">
                        <b><p class="card-text">Crispy Moong Dal Pakode</p></b>
                        <p class="card-text">Happy cooking.....! Live, love, eat.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary" data-target="#moongdaal">View</button> -->
                                <a href="/moongdaal" class="btn btn-primary">View</a>
                            </div>
                            <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm ">
                    <img src="/static/img/dhokla2.jfif" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <b><p class="card-text">Quick And Easy Dhokala | Rava Dhokala</p></b>
                        <p class="card-text">Happy cooking.....! Made with love.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/dhokla" class="btn btn-primary">View</a>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                            <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/garlicbread.jfif" class="d-block w-100 h-230" alt="...">
                    <div class="card-body">
                        <b><p class="card-text">Stuffed Cheesy Garlic Bread Recipe</p></b>
                        <p class="card-text">Happy cooking.....! Hunger is a good cook.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/garlicbread" class="btn btn-primary">View</a>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                            <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/pizza.jfif" class="d-block w-100 h-230" alt="...">
                    <div class="card-body">
                        <b><p class="card-text">Pizza Bombs Recipe Without Oven</p></b>
                        <p class="card-text">Happy cooking.....! Good food, good mood.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/pizzab" class="btn btn-primary">View</a>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                            <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/momos.jfif" class="d-block w-100 h-230" alt="...">
                    <div class="card-body">
                        <b><p class="card-text">Yummy Veg Momos</p></b>
                        <p class="card-text">Happy cooking.....! Life is infinitely delicious.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/momos" class="btn btn-primary">View</a>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                            <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/udid.1jfif.jpg" class="d-block w-100 h-230" alt="...">
                    <div class="card-body">
                        <b><p class="card-text">Crispy Medu Vada</p></b>
                        <p class="card-text">Happy cooking.....! I’m obsessed with food.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/medu" class="btn btn-primary">View</a>
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                            </div>
                            <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                    </div>
                </div>
            </div>

            {% endblock body %}